<div class="two-column-layout">
    <div class="container-fluid">
        <div class="tab-section">
            <mat-tab-group>
                <mat-tab label="Health & IT">
                     <!-- panel one start -->
                        <div class="panel">
                            <div class="panel-heading d-flex">
                                <h2>Present Development</h2>
                                <button mat-stroked-button color="primary">View Data</button>
                            </div>
                            <div class="panel-content">
                                <div class="row">
                                    <!-- col-start -->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="card health-card">
                                            <div class="top-card">
                                                <span>Health Governance</span>
                                            </div>
                                            <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                            <div class="row bottom-card">
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Readiness</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Availability</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col-start -->
                                    <!-- col-start -->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="card health-card">
                                            <div class="top-card">
                                                <span>Health Governance</span>
                                            </div>
                                            <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                            <div class="row bottom-card">
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Readiness</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Availability</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col-start -->
                                    <!-- col-start -->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="card health-card">
                                            <div class="top-card">
                                                <span>Health Governance</span>
                                            </div>
                                            <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                            <div class="row bottom-card">
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Readiness</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Availability</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col-start -->
                                    <!-- col-start -->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="card health-card">
                                            <div class="top-card">
                                                <span>Health Governance</span>
                                            </div>
                                            <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                            <div class="row bottom-card">
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Readiness</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Availability</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col-start -->
                                    <!-- col-start -->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="card health-card">
                                            <div class="top-card">
                                                <span>Health Governance</span>
                                            </div>
                                            <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                            <div class="row bottom-card">
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Readiness</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Availability</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col-start -->
                                    <!-- col-start -->
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                        <div class="card health-card">
                                            <div class="top-card">
                                                <span>Health Governance</span>
                                            </div>
                                            <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                            <div class="row bottom-card">
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Readiness</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress-style">
                                                        <span>Availability</span>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col-start -->
                                </div>
                            </div>
                        </div>
                     <!-- panel one End -->
                      <!-- panel one start -->
                      <div class="panel">
                        <div class="panel-heading d-flex">
                            <h2>Present Development</h2>
                            <button mat-stroked-button color="primary">View Data</button>
                        </div>
                        <div class="panel-content">
                            <div class="row">
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                            </div>
                        </div>
                    </div>
                 <!-- panel one End -->
                </mat-tab>
                <mat-tab label="Digital Health (DH)">
                    <div class="panel">
                        <div class="panel-heading d-flex">
                            <h2>Prospective Development</h2>
                            <button mat-stroked-button color="primary">View Data</button>
                        </div>
                        <div class="panel-content">
                            <div class="row">
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                                <!-- col-start -->
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="card health-card">
                                        <div class="top-card">
                                            <span>Health Governance</span>
                                        </div>
                                        <div echarts [options]="chartOption" class="demo-chart" style="height: 200px;"></div>
                                        <div class="row bottom-card">
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Readiness</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress-style">
                                                    <span>Availability</span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- col-start -->
                            </div>
                        </div>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>
