.panel-heading {
    justify-content: space-between;
    align-items: center;
}

.panel-heading h2 {
    margin-bottom: 0;
}

.panel-heading button {
    border-color: #128FFE !important;
    color: #128FFE !important;
    font-weight: normal;
    font-size: 12px;
}

.panel {
    padding: 15px;
    box-shadow: 0px 0px 9px 1px rgb(204 204 204 / 50%);
}
.health-card {
    padding: 10px 15px;
}
.top-card {
    background: red;
    text-align: center;
    color: #ccc;
    font-weight: 500;
    padding: 3px 0px;
    border-radius: 25px;
}