<div class="two-column-layout">
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-heading d-flex">
                <h2>Present Development</h2>
                <button mat-stroked-button color="primary">View Data</button>
            </div>
            <div class="panel-content">
                <div class="row">
                    <!-- col-start -->
                    <div class="col">
                        <div class="card health-card">
                            <div class="top-card">
                                <span>Health Governance</span>
                            </div>
                        </div>
                    </div>
                    <!-- col-start -->
                    <!-- col-start -->
                    <div class="col">
                        <div class="card health-card">
                            <div class="top-card">
                                <span>Health Governance</span>
                            </div>
                        </div>
                    </div>
                    <!-- col-start -->
                    <!-- col-start -->
                    <div class="col">
                        <div class="card health-card">
                            <div class="top-card">
                                <span>Health Governance</span>
                            </div>
                        </div>
                    </div>
                    <!-- col-start -->
                    <!-- col-start -->
                    <div class="col">
                        <div class="card health-card">
                            <div class="top-card">
                                <span>Health Governance</span>
                            </div>
                        </div>
                    </div>
                    <!-- col-start -->
                    <!-- col-start -->
                    <div class="col">
                        <div class="card health-card">
                            <div class="top-card">
                                <span>Health Governance</span>
                            </div>
                        </div>
                    </div>
                    <!-- col-start -->
                    <!-- col-start -->
                    <div class="col">
                        <div class="card health-card">
                            <div class="top-card">
                                <span>Health Governance</span>
                            </div>
                        </div>
                    </div>
                    <!-- col-start -->
                </div>
            </div>
        </div>
    </div>
</div>