
.treeview-area {
    margin: 1rem 0;
}

a.accordion-heading.collapsed.parent_anchor.active+ul#submenu1 {
    display: block;
}

li.site-menu-item {
    display: inline-block;
    width: 100%;
}

li.site-menu-item a,
ul.co-sub-menu-last li a {
    font-size: 15px;
    padding: 10px 15px;
    text-decoration: none;
    color: #5380CD;
    display: flex;
    width: 100%;
    align-items: center;
}

li.site-menu-item svg {
    fill: #5380CD;
    stroke: #5380CD;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

li.site-menu-item.active svg {
    color: #fff;
}

li.site-menu-sub.menu-level-2 a svg {
    stroke: transparent !important;
}

li.site-menu-item.parent-lavel.active a.parent_anchor {
    background-color: #5380CD;
    border-radius: 3px;
    color: #fff;
}

li.site-menu-item.parent-lavel a.parent_anchor {
    margin: 15px 0px;
}

ul.co-sub-menu-last,
ul.co-sub-menu {
    padding-left: 15px;
}

ul.co-sub-menu-last li a {
    padding: 10px 15px !important;
    font-size: 12px !important;
    color: #5380CD;
}

li.site-menu-item.has-sub.parent-lavel.active ul#submenu-parent {
    display: block;
    padding-left: 15px;
}

li.site-menu-item.has-sub.parent-lavel {
    position: relative;
}

li.site-menu-item {
    list-style: none;
}

ul.co-sub-menu {
    display: none;
}

ul.co-sub-menu.level-3 {
    display: block;
}

li.site-menu-item.active li:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0px;
    background: #ccc;
    top: 1px;
    z-index: 666;
}

/* li.site-menu-item.active.parent-lavel a:after {
    top: 15px;
} */
li.site-menu-item.active ul#submenu-parent li,
li.site-menu-item.active.parent-lavel {
    position: relative;
}

li.site-menu-item.active ul#submenu-parent li a:before,
li.site-menu-item.active a:before {
    width: 15px;
    content: '';
    position: absolute;
    height: 1px;
    background: #ccc;
    left: 0px;
}

li.site-menu-item.active a:before {
    background: transparent;
}

.breadcrumb button {
    display: flex;
    align-items: center;
    width: 100%;
    color: #5380CD;
    font-size: 15px;
    font-weight: 400;
}

.breadcrumb {
    padding: 0 10px;
}

.breadcrumb button svg {
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: -2px;
}

body.mat-typography .sidebar-toggle-menu {
    width: 75px;
}